{% for person in site.data.testimonials %}
  <div id="testimonial-{{ forloop.index }}" class="testimonial col">
    <div class="testimonial-section">
      {{ person.quote | strip | markdownify }}
    </div>

    <div class="testimonial-writer">
      <div class="testimonial-writer-name">{{ person.name }}</div>

      <div class="testimonial-writer-designation">
        {{ person.description | strip | markdownify }}
      </div>

      <ul>
        {% for social in person.social %}
          {% case social[0] %}
          {% when "twitter" %}
            {% assign url = social[1] | prepend: "https://twitter.com/" %}
          {% when "github" %}
            {% assign url = social[1] | prepend: "https://github.com/" %}
          {% when "googleplus" %}
            {% assign url = social[1] | prepend: "https://plus.google.com/+" %}
          {% when "linkedin" %}
            {% assign url = social[1] | prepend: "https://www.linkedin.com/in/" %}
          {% else %}
            {% assign url = social[1] %}
          {% endcase %}

          <li class="testimonial-social-{{ social[0] | downcase }}">
            <a href="{{ url }}">{{ social[1] }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!--
  <div id="testimonial-1" class="testimonial testimonial-default">
    <div class="testimonial-section">
      "It is a great conference to meet awesome people from around the world with very good presentations and workshops about free and open source software. ... very well organized and Brno is also a nice city"
    </div>
    <div class="testimonial-desc">
      <img src="img/till_mass_profile_testimonial_100x100.png" alt="Till Maas DevConf.CZ 2016 Testimonial">
      <div class="testimonial-writer">
        <div class="testimonial-writer-name">
          Till Maas
        </div>
        <div class="testimonial-writer-designation">
          Penetration Tester @ <a href="https://www.redteam-pentesting.de/">RedTeam Pentesting</a>
          and <a href="https://fedoraproject.org/wiki/User:Till">Fedora Contributor</a>
        </div>
        <a href="https://github.com/tyll" class="testimonial-writer-company"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/@TillMaas" class="testimonial-writer-company"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="https://blog.till.name/" class="testimonial-writer-company"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/+TillMaas"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/tillmaas"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
    --> 
          
{% endfor %}
