@import url(//fonts.googleapis.com/css?family=Montserrat:400|Open+Sans:400,400i,700|Roboto+Mono)

// Our variables
$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Liberation Sans, sans-serif
$base-font-size: 18px
$base-font-weight: 400
$small-font-size: $base-font-size * 0.875
$base-line-height: 1.5

$spacing-unit: 1rem

$text-color: #111
$background-color: #fdfdfd
$brand-color: #2a7ae2

$grey-color: #828282
$grey-color-light: lighten($grey-color, 40%)
$grey-color-dark: darken($grey-color, 25%)

// Width of the content area
$content-width: 60rem

// Import partials from the `minima` theme.
@import minima

// Import grid (see http://gridlex.devlint.fr/ for docs)
@import vendor/gridlex
@import vendor/leaflet

@import lib/nav
@import lib/search
@import lib/blog
@import lib/pagination
@import lib/stickyfooter
@import lib/scrollbar-on

h1, h2, h3, h4, h5, h6, nav, .intro-content
  font-family: Montserrat, sans-serif

@media screen and (max-width: $on-laptop)
  .nav-menu img
    display: none

  .masthead
    background: #eee
    position: fixed
    z-index: 1000
    width: 100%
    border-bottom: 1px solid #ccc
    box-shadow: 0 -14px 20px black
    top: 0
    left: 0

    .hgroup,
    .nav-wrap
      vertical-align: top

    .hgroup
      margin-bottom: 0
      padding-bottom: 0

      h1
        margin: 0
        position: relative
        top: -0.25ex

      a
        padding-left: 1ex

      img
        max-width: auto
        max-height: 2rem

@media screen and (min-width: $on-laptop)
  .masthead
    display: flex
    flex-direction: column-reverse

    .hgroup,
    .nav-wrap
      height: auto

    .hgroup
      margin: 8em auto 2em

    .nav-wrap
      z-index: 1000
      background: #eee
      position: fixed
      width: 100%
      border-bottom: 1px solid #ccc
      box-shadow: 0 -14px 20px black
      top: 0
      left: 0

      .nav-menu
        display: flex

      a
        color: #333
        padding: 1.5ex 2ex

      .nav-icon a
        padding: 1.5ex 1.5ex

        .label
          display: none

      .nav--code-of-conduct
        margin-left: auto

      .active a
        background-color: #ddd

      img
        transition: filter 500ms
        opacity: 0.6
        height: 1.75ex
        width: auto
        -webkit-filter: grayscale(1) brightness(0.5) contrast(4)
        filter: brightness(70%) grayscale(1) contrast(4) 

      a:hover img
        filter: none
        -webkit-filter: none
        opacity: 1

      .nav--winter-of-code img
        height: 2ex

.post-title
  text-align: center

ul.topics
  column-count: 4
  -moz-column-count: 4
  @media screen and (max-width: $on-laptop)
    column-count: 3
    -moz-column-count: 3
  @media screen and (max-width: $on-palm)
    column-count: 2
    -moz-column-count: 2

$offset: calc((100vw - #{$content-width} + #{$spacing-unit*3}) * 0.5)
$offset-negative: calc((100vw - #{$content-width} + #{$spacing-unit*3}) * -0.5)

html.headerblocks

  @media screen and (min-width: $content-width)
    .page-content section
      margin: 0 $offset-negative
      padding: 0 $offset #{$spacing-unit * 2}

      > h2
        background: red
        width: 100vw
        margin-left: $offset-negative
        margin-bottom: $spacing-unit
        text-align: center
        padding: 1ex 0
        color: #fff
        background-color: #7b6ed4
        text-shadow: 0 2px 4px rgba(69, 50, 195, 0.3)

      &.venue-section
        padding: 0

        > h2
          margin-left: 0
          margin-bottom: 0

.youtube-player
  position: relative
  z-index: 1

.page-content
  position: relative

$target-offset: 5rem

*:target
  margin-top: $target-offset * -1
  z-index: -1

  &:before
    content: ""
    display: block
    height: $target-offset
    margin-top: $target-offset * -1
    visibility: hidden

.frontpage

  .hgroup
    display: none

  .page-content section
    position: relative
    //background: #fff
    z-index: 2

    &:nth-child(even)
      background: #eee

  .intro
    overflow: hidden
    background: #fff url(../images/petrov_brno-illustration2.png) no-repeat 80% 100%
    background-size: contain
    padding: 100px 0 2em !important
    //margin: 0 !important
    font-size: 130%
    color: #999

    .intro-content
      float: left
      max-width: 20em

    .intro-content > div
      text-align: center
      padding: 1em 0

    .time-and-place
      address
        margin: 0
        font-style: normal

    .tagline
      font-family: roboto mono, monospace
      color: #8786df
      font-size: 140%
      font-weight: bold

    .intro-text
      margin: 0 auto

.leaflet-container
  background: #343332
